<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Recipe!</h1>
Name <p th:text="${recipe.getName()}"></p>
Difficulty <p th:text="${recipe.getDifficulty()}"></p>
Description <p th:text="${recipe.getDescription()}"></p>
Ingredients: </br>
<ul th:each="ingredient: ${recipe.getIngredients()}">
    <li th:text="${ingredient.getAmount()} + ' ' + ${ingredient.getUom().getDescription()} + ' ' + ${ingredient.getName()}"></li>
</ul>
</body>
</html>